/* Global */

:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --gray: hsl(0, 0%, 75%);
  --dark-grey: #eff1f7;
  --grayish-violet: hsl(260, 7%, 59%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);
  --white: #fff;
  --bodyBg: #303841;
  --formBg: #343f4b;
  --textColor: #fff;
  --primaryColor: #0076a3;
  --paraColor: #5e6c79;
  --paraColor: #74828f;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  color: var(--grayish-violet);
  line-height: 1.6;
}

.contact-p p {
  margin-left: 15px;
  margin-right: 15px;
  color: var(--dark-violet);
  font-size: 2.4rem;
  line-height: 2em;
  text-align: center;
}

section {
  padding: 4rem 0;
}

.container {
  width: 100%;
  margin: 2em auto;

  justify-content: space-around;
  padding: 0px 4em 0px 4em;
  display: flex;
  flex-flow: wrap;
  gap: 1em;
}

/************ HEADER ************/
/************ HEADER ************/
/************ HEADER ************/

.header {
  background-color: var(--gray);
}

.headertitle {
  padding-right: 50px;
  font-family: monospace;
}

.footertitle {
  font-family: monospace;
}

.containerhead {
  width: 100%;

  display: flex;
  flex-flow: wrap;
  gap: 1em;
}

.head {
  width: 100%;
}

.header .card:hover {
  background-color: var(--cyan);
}

.header .card:active {
  background-color: darkcyan;
}

.header1 h4 {
  color: #333;
}

/********* CONTACT *********/
/********* CONTACT *********/
/********* CONTACT *********/

.contact-h1 {
  text-align: center;
}

.contact-text p {
  color: var(--white);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 2em;
}

.contact {
  font-family: monospace;
  color: var(--textColor);
  background: var(--bodyBg);
  padding-bottom: 5em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 550px;

  margin: auto;
}

.sectionHeader {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primaryColor);
  margin-bottom: 0.5em;
}

.heading,
.sub-heading {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.heading {
  font-size: 2.5em;
}

.sub-heading {
  text-align: left;
}

.contactForm {
  display: grid;
  gap: 3em;
}

form {
  width: 100%;
  margin-top: 3em;
}

.para {
  color: var(--paraColor);
  font-size: 1.4rem;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.imgInput {
  background: url(images/send.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.para2 {
  text-align: left;
}

.input {
  width: 95%;

  max-width: 700px;
  border: none;
  font-size: 1.6rem;
  padding: 1em;
  outline: none;
  background-color: var(--formBg);
  color: var(--white);
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  margin-bottom: 1em;
}

.input:focus {
  border: 1px solid var(--primaryColor);
}

.input::placeholder {
  text-transform: capitalize;
}

.submit {
  background-color: var(--primaryColor);
  border: none;
  color: var(--textColor);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.pic {
  display: flex;
  flex-flow: wrap;
  flex: 0 1 50%;
}

.image-wrap-positioned {
  width: 40%;
  height: 500px;
}
.img-info-positioned {
  width: 225%;
}

iframe {
  height: 500px;
}

/* @media screen and (max-width: 767px) {
  iframe[src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3142813.576170073!2d-91.90600004917333!3d39.713724304638475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880b2d386f6e2619%3A0x7f15825064115956!2sIllinois!5e0!3m2!1sen!2sus!4v1707896484562!5m2!1sen!2sus"
] {
    width: 40em;
  }
} */

/* .mapBg {
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  left: 50em;
  right: 0;
  width: 200px;
  height: 90%;
  border-radius: 20px;
} */

.map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
}

.contactMethod {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-top: 2em;
  text-align: left;
}

.method {
  display: flex;
  align-items: center;
}

.contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}

/************* PERSONAL LIFE ***********/
/************* PERSONAL LIFE ***********/
/************* PERSONAL LIFE ***********/

.life-text p {
  color: var(--dark-violet);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 2em;
}

.life-text li {
  padding-left: 100px;
  font-size: 2.1rem;
  color: black;
}

.personal-life #spotify {
  text-decoration: none;
  color: #1db954;
}

/************ COMPUTING AND NON-COMPUTING SKILLS ***********/
/************ COMPUTING AND NON-COMPUTING SKILLS ***********/
/************ COMPUTING AND NON-COMPUTING SKILLS ***********/

.non-technical-skills,
.technical-skills {
  padding-bottom: 150px;
}

.technical-skills .flex,
.non-technical-skills .flex,
.header .flex {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.technical-skills .card,
.non-technical-skills .card,
.header .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  position: relative;
  padding-bottom: 5px;
  background-color: #f0f0f0;
}

.technical-skills .card h4,
.non-technical-skills .card h4,
.header .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

.technical-skills .card:hover,
.non-technical-skills .card:hover {
  transform: translateY(-15px);
}

.technical-skills img,
span img {
  height: 80px;
  width: 82px;
}

.skills-grid {
  display: flex;
  margin: auto;
}

.skills-grid > *:nth-child(2) {
  transform: translateY(20px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(3) {
  transform: translateY(40px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(4) {
  transform: translateY(60px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(5) {
  transform: translateY(80px);
  outline: 1px solid #000;
}

.skills-grid > *:nth-child(6) {
  transform: translateY(60px);
  outline: 1px solid #000;
}

.skills-grid > *:first-child,
.skills-grid > *:last-child {
  outline: 1px solid #000;
}

/********** WORK EXPERIENCE *********/
/********** WORK EXPERIENCE *********/
/********** WORK EXPERIENCE *********/

.work-text dd {
  color: var(--dark-violet);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 3.95rem;
}

.work-text dt {
  color: black;
  margin-bottom: 25px;
  font-size: 2.65rem;
  line-height: 3.95rem;
  font-weight: bold;
}

.marianos {
  margin-bottom: 50px;
}

/******** EDUCATION *********/
/******** EDUCATION *********/
/******** EDUCATION *********/

.edu-text p {
  color: var(--dark-violet);
  margin-bottom: 25px;
  font-size: 2.4rem;
  line-height: 3.95rem;
}

.edu-text span {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

.edu-text a {
  text-decoration: none;
  color: #054696;
}

.edu-text #uni {
  color: #e4002b;
}

/****** FOOTER *********/
/****** FOOTER *********/
/****** FOOTER *********/

#copyright {
  padding-bottom: 15px;
}

.footer {
  background-color: #002240;
  color: #fff;
  padding-bottom: 0px;
  margin: 0px;
}

.footer h1 {
  font-size: 4rem;
  padding-bottom: 15px;
}

.footer .social a {
  margin-right: 30px;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.footer li a {
  color: white;

  font-size: 14px;
}

#footer-links a {
  font-size: 2rem;
}

#footer-links {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer li a:hover {
  color: red;
}

.github,
.linkedin,
.spotify {
  height: 50px;
  width: 52px;
}

.soundcloud {
  height: 55px;
  width: 60px;
}

.linkedin:hover {
  background-color: #0077b5;
  border-radius: 40em;
}
.github:hover {
  background-color: #333;
  border-radius: 50em;
}

.spotify:hover {
  background-color: #1db954;
  border-radius: 50em;
}

.soundcloud:hover {
  background-color: #ff7700;
  border-radius: 30em;
}

.container-footer {
  width: 100%;
  margin: 2em auto;

  padding: 0px 4em 0px 4em;

  gap: 1em;
}
